* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: black;
}

.herosec {
    background-color: black;

}

.div1main {
    background-image: url('../dist/Image/h1_hero1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.header-social {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100px;
}

.btn_2 {
    color: #E5BF4A;
    border: 1px solid #E5BF4A;
    display: inline-block;
    padding: 11px 20px;
    text-transform: capitalize;
    font-size: 16px;
}

.btnorder {
    background: #E5BF4A;
    border: 1px solid #2A2A2A;
    color: #0A0A0A !important;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding: 22px 41px;
    text-transform: uppercase;
    line-height: 15px;
    border-radius: 0px;
}

.headertop {
    padding: 20px 15px;
    padding-top: 30px;
}

.sec2text1 {
    color: #DFDFDF;
    font-family: "Poiret One", cursive;
    font-size: 22px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
    position: relative;
}

.texth2 {
    color: #E5BF4A;
     font-family: "Poiret One", cursive;
    font-size: 22px;
    padding-left: 0px;
    font-weight: 400;
    margin-bottom: 28px;
}

.textpara {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}


.hrclass {
    width: 100px;
    height: 4px;
    background: #dead1b;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -29px;
}

.textmain {
    /* font-size: 70px; */
    font-size: 35px;
    color: white;
    font-weight: 400;
    margin-bottom: 41px;
    color: #fff;
    line-height: 1.2;
    font-family: "Poiret One", cursive;
}

.menunav {
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    border-radius: 4px;
    background-color: #222;
    position: relative;
    display: block;
    padding: .438em .625em;
    line-height: 1.125em;
}

.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
    font-size: 16px;
    background: #4c4c4c;
    padding: 5px;
}

.slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 3px #000;
}

.slicknav_icon {
    float: left;
    width: 1.125em;
    height: .875em;
    margin: .188em 0 0 .438em;
}

.div2 {
    background-image: url('../dist/Image/pet-shop-02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: initial;
    z-index: 1;
    position: relative;
    text-align: center;

}

.div3 {
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    overflow-x: visible;
    overflow-y: visible;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    box-shadow: 0px 15px 55px -10px rgba(19, 76, 95, 0.15);

}

.textdiv1 {
    font-size: 17px;
}

.btnsub {
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif !important;
    background-color: #134c5f;
}

.iconimg {
    width: 25%;
}

.h2text {
    font-family: 'Autour One', display;
    /* font-weight: 700; */
    color: #000000 !important;
    font-size: 18px;
    font-weight: bolder;
    line-height: 1.4em;
}

.sec3main {
    padding-top: 50px;
}

.sec3text1 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 6px;
    font-family: "Poiret One", cursive;
    text-decoration: none;
}

.sec3price {
    color: #E5BF4A;
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;

}

.video-area {
    background-image: url('../dist/Image/video-bg.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.video-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 40px;
}

.video-area .video-icon {

    left: 0;
    right: 0;
    text-align: center;
}

.playicon {
    border-radius: 50%;
    border: 70px solid rgba(229, 191, 74, 0.2);
}

.anchorli {
    font-family: "Jost", sans-serif;
    color: #fff;
    font-weight: 400;
    padding: 32px 7px;
    display: block;
    font-size: 14px;
    text-decoration: none;
}

.footer-menu {
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-border {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 40px;
    padding-bottom: 1px;
}

.btn_02 {
    color: #fff !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 14px 36px 13px 30px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    background: none;
    border-radius: 0px;
    margin-right: 4px;
    margin-bottom: 10px;
}

.footer-area .footer-tittle p {
    color: #fff;
    font-size: 16px;
}

.h4classfoot {
    color: #E5BF4A;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.footer-area .footer-tittle ul li a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline transparent;
}

.footer-bottom-area .footer-copy-right p {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}

.hearticon {
    color: #E5BF4A;
}

.footer-bottom-area .footer-copy-right p a {
    color: #E5BF4A;
}

.imgfooter {
    width: 10%;
}

.footer-menu ul>li {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.footerpara {
    color: #fff;
    font-size: 16px;
    margin-bottom: 21px;
    line-height: 1.8;
}

@media(min-width:768px) {
   
    .textmain {
        font-family: "Poiret One", cursive;
        color: #2A2A2A;
        font-size: 70px;
        font-weight: 400;
        margin-bottom: 41px;
        color: #DFDFDF;
        line-height: 1.2;
    }
        .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .sec2text1 {
        font-size: 35px;
        /* padding-left: 20px; */
        /* padding-right: 50px; */
    }
    .texth2{
        font-size: 25px;
    }
    .divsec2{
        width: 75%;
        padding-bottom: 50px;
        padding-left: 15px;
    }
    .div1main{
        height: 500px;
    }
    .video-area{
        height: 400px;

    }

}


@media(min-width:1024px){

     .div1main{
        height: 70vh;
    }

.sec2text1{
    font-size: 35px;

}
.texth2{
    font-size: 24px;
}
.liclasssec6{
        padding: 0px 10px;
}


}